body{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-itens: center;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
}

h1{
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

#calculator{
    font-family: arial, sans-serif;
     background-color: hsl(0, 0%, 15%);
     border-radius: 10px;
     max-width:250px;
     overflow: hidden;
}

#display{
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    padding: .5rem;
}


button{
    width: 2.5rem;
    height:2.5rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
     background-color: hsl(0, 0%, 40%);
}

button:active{
     background-color: hsl(0, 0%, 50%);
}

.operator-bnt{
       background-color: hsl(35, 100%, 55%);
}

.operator-bnt:hover{
       background-color: hsl(35, 100%, 65%);
}

.operator-bnt:active{
       background-color: hsl(35, 100%, 75%);
}

   